body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 0.8rem;
  }
  
  .imagem {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .images.jpeg {
    max-width: 50%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .images.jpeg {
    width: 100px; /* largura desejada */
    height: auto; /* altura ajustada automaticamente para manter proporções */
}


  .pecuaria_de_corte_recria-e1682516995228.webp.{

  width: 50px;
  height: low;
  }