/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: hsl(97, 84%, 29%);
    color: #17760b;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header nav ul {
    list-style-type: none;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

section {
    padding: 40px 0;
}

.section {
    background-color: #19640b;
    text-align: center;
}

section h2 {
    font-size: 2em;
    color: #1ba107;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #397b0d;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Define o estilo básico do botão */
.expand-button {
    display: inline-block;     /* Faz com que a tag <a> se comporte como um bloco */
    background-color: #d4d108; /* Cor de fundo do botão */
    color: #275308;            /* Cor do texto */
    text-align: center;        /* Alinha o texto ao centro */
    text-decoration: none;     /* Remove o sublinhado padrão dos links */
    border: none;              /* Remove a borda padrão */
    padding: 10px 20px;        /* Espaçamento interno */
    font-size: 16px;           /* Tamanho da fonte */
    cursor: pointer;           /* Cursor de ponteiro ao passar por cima */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transições suaves */
    border-radius: 5px;        /* Cantos arredondados */
}

/* Estilo aplicado ao botão quando o mouse está sobre ele */
.expand-button:hover {
    transform: scale(1.2);    /* Expande o botão */
    background-color: #0d911c; /* Cor de fundo ao passar o mouse */
}
